<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Usuário</title>
    <link rel="stylesheet" th:href="@{/css/details.css}">
</head>
<body>
<div>
    <p>Nome de usuário: <span th:text="${user.username}"> </span></p>
    <p>Email: <span th:text="${user.email}"> </span></p>
    <table>
        <thead>
        <th>Tarefas Associadas</th>
        </thead>
        <tbody>
        <table>
            <thead>
            <th>Id</th>
            <th>Título</th>
            <th>Descrição</th>
            </thead>
            <tbody>
            <tr th:each="task : ${user.tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.title}"></td>
                <td th:text="${task.description}"></td>
            </tr>
            </tbody>
        </table>
        </tbody>
    </table>
</div>
<a th:href="@{/ui/users}">Voltar</a>
</body>
</html>