<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuários</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:insert="~{fragments/top_navigation :: top_navigation}"></div>
<h1>Lista de Usuários</h1>
<table>
    <thead>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th colspan="2">Ações</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="user : ${users}">
        <tr>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{|/ui/users/edit/${user.id}|}"><button>Editar</button></a>
            </td>
            <td><a th:href="@{/ui/users/details/{id}(id=${user.id})}"><button>Mostrar detalhes</button></a></td>
        </tr>
    </th:block>
    </tbody>
</table>
<a href="/ui/users/create">Criar usuário</a>
</body>
</html>